@import 'src/styles/colors.scss';

.arrowBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  background-color: $blue;
  border-radius: 50%;
  border: none;
  cursor: pointer;

  &__arrow {
    position: relative;
    width: 11px;
    height: 2px;
    background-color: $white;

    &::after,
    &::before {
      position: absolute;
      content: '';
      width: 7px;
      height: 2px;
      background-color: $white;
    }

    &::after {
      top: 2px;
      left: -2px;
      transform: rotate(45deg);
    }

    &::before {
      top: -2px;
      left: -2px;
      transform: rotate(-45deg);
    }
  }

  &:active {
    transform: scale(0.9);
  }  
}