@import 'src/styles/colors.scss';
@import 'src/styles/constants.scss';

.avatar {
    position: relative;
    background: #EFEFEF;
    width: 130px;
    height: 130px;
    padding: 45px;
    border-radius: 50%;
    user-select: none;
    cursor: pointer;

    &:hover {
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        border-radius: 50%;
        color: $white;
        background: $black;
        opacity: 0.5;
      }

      &::after {
        content: $change_avatar;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: $white;
        font-weight: 500;
        font-size: 13px;
        text-align: center;
      }

    }
  } 
