@import 'src/styles/colors.scss';

.input-field {
  position: relative; 
  padding: 18px 0 0;

  &__label {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 9px;
    color: $gray;
    transition: all 0.2s;
    pointer-events: none;

    &_low {
      font-size: 13px;
      transform: translateY(18px);
      transition: all 0.2s;
    }
  }

  &__input {
    width: 100%;   
    border: none;
    border-bottom: 1px solid $blue;
    padding-bottom: 7px;
    outline: none;
  }

  &__error {
    font-size: 8px;
    color: $red;
  }
}