@import 'src/styles/colors.scss';

.text-button {
  border: none;
  background: none;
  width: 100%;
  height: 33px;
  text-align: start;
  border-bottom: 1px solid #EAEAEA;
  font-size: 13px;
  font-weight: 500;
  color: $blue;
  cursor: pointer;

  &_danger {
    color: $red;
  }

  &:active>span {
    opacity: 0.8;
  }
}