extends ../../layout/layout
block style
  link(rel="stylesheet" href="./index.scss")
block content
  include ./page-view-data
  div.login    
    div.login-form__wrapper      
      +formBuilder(formData)    
block script
  script( src="./login.js" type="module")