-
  const formData = {
    id: 'loginForm',
    title: 'Вход',
    fields: [
      { type: 'inputField', id: 'login', label: 'Логин', fieldType: 'text', },
      { type: 'inputField', id: 'password', label: 'Пароль', fieldType: 'text', }
    ],
    footer: [
      { type: 'button', id: 'login', label: 'Авторизоваться', btnType: 'submit' },
      { type: 'link', id: 'login', title: 'Нет аккаунта?', href: '/signin', }
    ]
  }
-