-
  const avatarBlockStructure = [
    {type: 'avatar', src: '../assets/icons/defaultAvatar.svg'},
    {type: 'text', text: ''},
  ]

  const userMainDataBlockStructure = [
    {type: 'textField', id: 'mail', label: 'Почта'},
    {type: 'textField', id: 'login', label: 'Логин'},
    {type: 'textField', id: 'name', label: 'Имя'},
    {type: 'textField', id: 'lastName', label: 'Фамилия'},
    {type: 'textField', id: 'nikName', label: 'Имя в чате'},
    {type: 'textField', id: 'phone', label: 'Телефон'}
  ]

  const userPasswordDataBlockStructure = [
    {type: 'textField', id: 'currentPassword', label: 'Старый пароль'},
    {type: 'textField', id: 'newPassword', label: 'Новый пароль'},
    {type: 'textField', id: 'confirmNewPassword', label: 'Повторите новый пароль'},
  ]

  const controlBlockMainBtnsStructure = [
    {type: 'textButton', id: 'data', label: 'Изменить данные'},
    {type: 'textButton', id: 'password', label: 'Изменить пароль'},
    {type: 'textButton', id: 'logout', label: 'Выйти', btnType: 'danger'},   
  ]
  const controlBlockSaveBtnsStructure = [
    { type: 'button', id: 'save', label: 'Сохранить' },   
  ]

  const modalData = {
    id: 'avatarModal',
    title: 'Загрузите файл',
    structure: [
      { type: 'fileField', id: 'file', label: 'Выбрать файл на компьютере' },
    ],
    button: [
      { type: 'button', id: 'save', label: 'Сохранить', btnType: 'submit' }, 
    ]
  }
-