extends ../../layout/layout
block style
  link(rel="stylesheet" href="./index.scss")
block content
  include ./page-view-data
  div.profile
    div.profile__block_left
      +arrowButton()
    div.profile__block_right
      div.profile__avatar
        +structureBuilder(avatarBlockStructure)
      div.profile__user-data
        div.profile__main-info-wrapper
          +structureBuilder(userMainDataBlockStructure)
        div.profile__password-wrapper
          +structureBuilder(userPasswordDataBlockStructure)
      div.profile__control
        div.profile__main-btns-wrapper
          +structureBuilder(controlBlockMainBtnsStructure)
        div.profile__save-btns-wrapper
          +structureBuilder(controlBlockSaveBtnsStructure)
  +modal(modalData)
block script
  script( src="./profile.js" type="module")