@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600&display=swap');
@import 'src/styles/shared.scss';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}