extends ../../layout/layout
block style
  link(rel="stylesheet" href="../styles/pages/404.scss")
block content
  div.root
    div.root__code 404
    div.root__message Не туда попали
    +structureBuilder([{ type: 'link', id: '404', title: 'Назад к чатам', href: '#', }])
block script