extends ../layout/layout
block style
  link(rel="stylesheet" href="../styles/pages/main.scss")
block content
  div.root
    div.root__message Скоро здесь будет страница с чатами
    +structureBuilder([{ type: 'link', id: 'main', title: 'Перейти в профиль', href: '/profile', }])
block script